@font-face {
	font-family: 'Regular';
	src: url('../Raleway/static/Raleway-Regular.ttf');
}
@font-face {
	font-family: 'Bold';
	src: url('../Raleway/static/Raleway-Bold.ttf');
}
@font-face {
	font-family: 'Italic';
	src: url('../raleway/static/Raleway-Italic.ttf');
}

h1
{
	font-family: 'Bold';
	font-weight: bolder;
	font-size: 1.3em;
}
h2
{
	font-family: 'Bold';
	font-weight: bolder;
	font-size: 1.3em;
}
nav a
{
	font-size: 1.4em;
	color: #0065FC;
}
a:link 
{ 
	text-decoration:none; 
	color:black;
	
}


a h3, .cd_item p, .conteneur_act_solo p
{
	font-family: 'Bold';
	color: black;
}

#conteneurtext > p
{
	color: grey;
}
body
{

	font-family: 'Italic';
	max-width: 1500px;
	margin:auto;
}
.fas
{
	color: #0065FC;

}
.test
{
	color: lightgrey;
}
#inscrire
{
	font-weight: bold;
	color: #0065FC;
	text-decoration:none; 
}

.wrapper
{
	display: flex;
	flex-flow: row wrap;
	margin-inline:50px;
	
}
.wrapper > *
{
	padding: 10px;
	margin: 10px;
	flex:1 100%;
	border-radius: 10px;
}
.header
{
	
	display: flex;
}

.footer
{
	
	order: 5;
}

.populaire
{
	
	flex: 1;
	order:2;
	background-color: #F2F2F2;
	padding: 25px;
}
.intro
{
	
	order: 1;
}
.activitesmarseille
{
	
	order: 4;
}

.item 
{
	background-color: white;
	height: 210px;
	width: 250px;
	padding: 5px;
	border: 30px;
	border-radius: 20px;
	margin: 5px;
	box-shadow: 5px 5px 5px lightgrey;
}
.item img
{
	height: 70%;
	width: 100%;
	border: 30px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}


#hebergements
{
	display: flex;
	flex-wrap: wrap;
	background-color: #F2F2F2;
	width: 100%;
	justify-content: space-evenly;
	border: 30px;
	border-radius: 10px;
	text-align: left;
	font-style: normal;
	order: 2;
	flex:2;
}
#titre
{
	flex: 0 0 100%;
	padding-left: 33px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.soustitre
{
	flex: 0 0 100%;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.item2
{
	
	
	border: 30px;
	border-radius: 20px;
	box-shadow: 5px 5px 5px lightgrey;
	display: flex;
	height: 135px;
	padding: 5px;
	margin-bottom: 25px;
	background-color: white;
}

.item2 img
{
	height: 100%;
	width: 40%;
	border: 30px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
.cd_item
{
	height: 40%;
	border-radius: 20px;
	box-shadow: 5px 5px 5px lightgrey;

}

.cd_item img
{
	width: 250px;
	height: 90%;
	object-fit: cover;
	/* 1. coin en haut à gauche */
	/* 2. coin en haut à droite */
	/* 3. coin en bas à droite  */
	/* 4. coin en bas à gauche  */
	border-radius: 20px 20px 0px 0px;
}
.cd_item1
{
	height: 55%;
	border-radius: 20px;
	box-shadow: 5px 5px 5px lightgrey;

}

.cd_item1 img
{
	width: 250px;
	height: 90%;
	object-fit: cover;
	/* 1. coin en haut à gauche */
	/* 2. coin en haut à droite */
	/* 3. coin en bas à droite  */
	/* 4. coin en bas à gauche  */
	border-radius: 20px 20px 0px 0px;
}
.conteneurdouble img
{
	width: 100%;
	border: 30px;
	height: 80%;
}

.conteneur_act_solo
{
	width: 290px;
	height: 90%;
	border-radius: 20px;
	box-shadow: 5px 5px 5px lightgrey;
}

.conteneur_act_solo img{
	width: 100%;
	height: 90%;
	object-fit: cover;
	/* 1. coin en haut à gauche */
	/* 2. coin en haut à droite */
	/* 3. coin en bas à droite  */
	/* 4. coin en bas à gauche  */
	border-radius: 20px 20px 0px 0px;
}

#conteneurhead
{
	display: flex;
	width: 100%;
	flex-direction: column;
}

#conteneurrecherche
{
	display: flex;
	width: 290px;
	height: 35px;
	margin-bottom: 5px;
}
#recherche,#button
{
	border: none;
}
.button 
{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-radius: 0 10px 10px 0px;
	background-color: #0065FC;
	font-weight: bold;
	color: white;
	width: 35%;
	border: black;
}
#icone
{
	border-radius: 10px 0 0 10px;
	background-color: lightgrey;
	width: 10%;
	color: blue;
	display: flex;
	align-items: center;
	justify-content: center;
}
#icone > .fas
{
	color: black;
}
input::placeholder
{
	color: black;
}
#conteneurfiltre a:hover
{
	background-color: #DEEBFF;
	border-radius: 20px;
	transform: translateY(-10px);
}
#hautdroite a:hover
{

	border-top : 1px solid blue;

}

#conteneurrecherche >.iconeeach
 {
 	display: none;
 }
#recherche
{
	width: 50%;
	border-bottom: 0.1px solid lightgrey;
	border-top: 0.1px solid lightgrey;
	font-weight: bold;
	padding-left: 10px;
}

#trouve
{
	border-radius: 30px;
	border:1px;
}

.haut
{
	border-radius: 20px;
	border: 0.1px solid  lightgrey;
	height: 35px;
	width: 100%;
	display: flex;
	align-items: center;
	color: black;
}
.haut1
{
	border-radius: 20px;
	background-color: #DEEBFF;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	margin-right: 10px;
}
.haut2
{
	margin-right: 10px;
}
#conteneurfiltre
{
	display: flex;
	justify-content: space-between;
	width: 55%;
	margin-bottom: 30px;
	align-items: center;
	font-weight: bold;
	color: black;
}


#logo1
{
	width: 100%
}
#logo1 img
{
	height: 50px;
	width: 100px;
}
nav ul
{
	list-style-type: none;
	display: flex;
	font-size: 0.8em;
}
nav li
{
	margin-right: 20px;
}
nav a
{
	font-size: 1.4em;
	color: #0065FC
}

#activites
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
	height: 550px;
}

.conteneurdouble
{

	width: 250px;
	height: 90%;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.conteneur_act_solo
{
	width: 290px;
	height: 90%;
	border-radius: 20px;
	box-shadow: 5px 5px 5px lightgrey;
	
}

.titre2
{
	flex: 0 0 100%;
	margin-bottom: 30px;
}

#foot
{
	display: flex;
	background-color: #F2F2F2;
	justify-content: space-evenly;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 100px;
	align-items: center;
}
.foot1
{
	display: flex;
	flex-direction: column;
	height: 90px;
	justify-content: space-evenly;

}

#foot a:hover
{
	text-decoration:none; 
	color:blue;

}
.footlink
{
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content:space-evenly;
}
.footlink a
{
	color: black;
}
#hautdroite
{
	display: flex;
	justify-content: space-between;
}
#conteneurtext > h1
{
	font-size: 1.4em;
}
#conteneurtext2
{
	display: flex;
	align-items: center;
	color: gray;
}

#conteneurtext2 .fas
{
	margin: 10px;
	color: #0065FC;
}
#titrepop
{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	margin-top: 20px;

}
.conteneurfas
{
	margin-left: 10px;
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 55px;
}
.conteneurfas > .etoile
{
	font-size: 12px;
}
.colone > .etoile
{
	font-size: 12px;
}

.colone
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 120px;
	margin-left: 5px;
	margin-top: 10px;

}

.tritreact
{
	margin-left: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 19%;
}
.tritreact1
{
	margin-left: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 9%;
}
.colone p
{
	margin-bottom: 50px;
}
h3
{
	font-weight: bold;
	font-size: 1em;
}
.fa-chart-line
{
	color: black;
}























@media all and (min-width: 320px) and (max-width: 770px)
{
.header
{
	order: 1;
	flex-wrap: wrap;
}
.intro
{
	order: 2;
}
.populaire
{
	order: 3;
	width: 100%;
}
#hebergements
{
	order: 4;
	flex:100%;
	background-color: white;
}
.activitesmarseille
{
	order: 5;

}
.footer
{
	order: 6;
}
.item2
{
	width: 100%;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
 }
#conteneurfiltre
{
	flex-direction: column;
}
#conteneurrecherche
{
	width: 100%;
	margin-top: 0;
	margin-bottom: 20px;
}
.conteneur_act_solo 
{
	width: 100%;
	height:190px;
	margin-bottom: 20px;
}

.conteneurdouble
{
	width: 100%;
	height: 100%;
}

#activites 
{
	height: auto;
}

.cd_item
{
	height: 190px;
	margin-bottom: 20px;
}
.cd_item1
{
	height: 190px;
	margin-bottom: 20px;
}
.item
{
	width: 320px;
}
.conteneur_act_solo img
{
	height: 80%;
}
#foot
{
	flex-direction: column;
	height: 100%;
	margin-bottom: -20px;
	align-items: stretch;
}
#hautdroite
{
	order: 3;
	width: 100%;
	margin-top: 30px;
}

#logo1
{
	width: 70%;
}
ul
{
	width: 100%;
	justify-content: space-between;
}
#conteneurtext
{
	margin-top: 30px;
}

#conteneurfiltre
{
	margin-top: 0;
	align-items: flex-start;
	height: 210px;
}
#conteneurtext2
{
	margin-top: 0;
	display: flex;
}
nav
{
	width: 100%;
}
#foot > div
{
	margin-bottom: 10px;
	margin-left: 10px;
}
.footlink
{
	width: 100%;
	height: 100px;
	justify-content: space-evenly;
	display: flex;
	flex-direction: column;
}


#conteneurrecherche > .iconeeach
{
	background-color: #0065FC;
	display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-left: -10px;
    border-radius: 10px;
}

#conteneurrecherche > .button
{
	display: none;

}
.iconecache
{
	color: white;
}
.wrapper
{
	margin-inline:5px;
}
#icone
{
	height: 44px;
	width: 40px;
}
#recherche
{
	height: 40px;
	width: 70%
}

.iconeeach
{
	width: 11%;
	height: 24px;
}

.wrapper > *
{
	padding: 0;
	margin: 0;
	border-radius: 0;
}
#inscrire
{
	font-size: 1.5em;
	margin-top: 20Px;
}
#hautdroite a:hover
{

	border-top : none;
	border-bottom: 1px solid blue;

}


}

@media all and (min-width: 770px) and (max-width: 1100px)
{
	#conteneurfiltre
	{
		width: 100%;
	}
}

@media all and (min-width: 1100px) and (max-width: 1500px)
{
	#conteneurfiltre
	{
		width: 70%;
	}
}


@-moz-document url-prefix() 

{
  
#conteneurtext
{
	margin-bottom: 30px;
}

#conteneurrecherche
{
	margin-bottom: 20px;

}
#logo1
{
	width: 70%;
}





}



