
@font-face {
	font-family: 'Regular';
	src: url('Raleway/static/Raleway-Regular.ttf');
}
@font-face {
	font-family: 'Bold';
	src: url('Raleway/static/Raleway-Bold.ttf');
}
@font-face {
	font-family: 'Italic';
	src: url('Raleway/static/Raleway-Italic.ttf');
}

h1
{
	font-family: 'Bold';
}
nav ul
{
	list-style-type: none;
	display: flex;
}
nav li
{
	margin-right: 20px;
}
nav a
{
	font-size: 1.4em;
	color: #0065FC
}
body
{
	font-family: 'Regular';
	font-family: 'Bold';
	font-family: 'Italic';
}
#petit
{
	display: flex;
	justify-content: space-between;
}
.conteneur1
{
	display: flex;
	justify-content: space-evenly;
	background-color: grey;

}

#hebergements
{
	display: flex;
	flex-wrap: wrap;
	background-color: #F2F2F2;
	width: 65%;
	justify-content: space-evenly;
}
#item 
{
	background-color: white;
	height: 180px;
	width: 250px;
	padding: 5px;

}
#item img
{
	height: 70%;
    width: 100%;
 }

#populaires
{
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
	background-color: #F2F2F2;
	justify-content: space-evenly;
	flex-direction: column;
	width: 35%;
	height: 60%;
}

 #item2
{
 	background-color: white;
	height: 180px;
	width: 250px;
	padding: 5px;
 }

#item2 img
{
	height: 70%;
    width: 100%;
}

.titre
{
	  flex: 0 0 100%;

}
.soustitre
{
	  flex: 0 0 100%;

}

#activites
{
	display: flex;
	justify-content: space-between;
	background-color: pink;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
#vites
{
	display: flex;
	background-color: white;
	height: 180px;
	width: 60px;
}
.act 
{
	background-color: white;
	height: 130px;
	width: 250px;
}
.act img
{
	height: 80%;
    width: 100%;
}
.act1 
{
	background-color: white;
	height: 260px;
	width: 250px;
}

.act1 img
{
	background-color: white;
	height: 210px;
	width: 250px;
}
#foot
{
	display: flex;
	justify-content: space-between;
	background-color: #F2F2F2;
}
