 #conteneur1
 {
 
 	flex-wrap: wrap;
 	width: 100%;
 }
 #conteneur2
{
	flex-wrap: wrap;
	 	width: 100%;

}
#hebergements
{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.conteneur_act_solo
{
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
}
#foot
{
	display: flex;
	flex-direction: column;
	width: 100%;
}
#activites
{
	width: 100%;
	
}
.conteneurdouble, .conteneur_act_solo
{
	
}
.cd_item img
{
	width: 100%;
}




}



 #body1
 {
 	width: 100%;

 }
#conteneur1
 {
 
 	flex-wrap: wrap;
 	width: 100%;
 }

#hebergements
{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.conteneur_act_solo
{
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	height: 900px;
}
#foot
{
	display: flex;
	flex-direction: column;
	width: 100%;
}
#activites
{

	flex-direction: column;
	height: 200%;
	width: 100%;
}

.conteneurdouble
{
	width: 100%;
	height: 900px;
}
.cd_item img
{
	width: 100%;
	height: 100%;
}
.bigimage img
{
	height: 100%;

}

.item, .item2
{
	width: 100%;
	height: 600px;
}


}