.wrapper
{
	display: flex;
	flex-flow: row wrap;
	
}
.wrapper > *
{
	padding: 10px;
	margin: 10px;
	flex:1 100%;
	border-radius: 10px;
}
.header
{
	background-color: pink;
	height: 120px;
	display: flex;
}

.footer
{
	background-color: blue;
	order: 5;
}

.populaire
{
	background-color: yellow;
	flex: 1;
	order:2;
}
.intro
{
	background-color: purple;
	order: 1;
}
.activitesmarseille
{
	background-color: green;
	order: 4;
}

.item 
{
	background-color: white;
	height: 235px;
	width: 250px;
	padding: 5px;
	border: 30px;
	border-radius: 20px;
	margin: 5px;
	box-shadow: 5px 5px 5px lightgrey;
}
.item img
{
	height: 70%;
	width: 100%;
	border: 30px;
	border-radius: 20px;
}


#hebergements
{
	display: flex;
	flex-wrap: wrap;
	background-color: #F2F2F2;
	width: 100%;
	justify-content: space-evenly;
	border: 30px;
	border-radius: 10px

	text-align: left;
	background-color: orange;
	font-style: 24px;
	order: 2;
	flex:3;
}
#titre
{
	flex: 0 0 100%;
	padding-left: 33px;
    padding-top: 33px;
}
.soustitre
{
	flex: 0 0 100%;
}

.item2
{
	background-color: white;
	width: 360px;
	padding: 5px;
	border: 30px;
	border-radius: 20px;
	margin: 5px;
	box-shadow: 5px 5px 5px lightgrey;
	display: flex;
	height: 140px;
}

.item2 img
{
	height: 100%;
	width: 50%;
	border: 30px;
	border-radius: 20px;
}
.cd_item
{
	height: 45%;
	border-radius: 20px;
	box-shadow: 5px 5px 5px lightgrey;

}

.cd_item img
{
	width: 250px;
	height: 90%;
	object-fit: cover;
	/* 1. coin en haut à gauche */
	/* 2. coin en haut à droite */
	/* 3. coin en bas à droite  */
	/* 4. coin en bas à gauche  */
	border-radius: 20px 20px 0px 0px;
}
.conteneurdouble img
{
	width: 100%;
	border: 30px;
	height: 30%;
	border-radius: 20px;
}

.conteneur_act_solo
{
	width: 290px;
	height: 90%;
	border-radius: 20px;
	box-shadow: 5px 5px 5px lightgrey;
}

.conteneur_act_solo img{
	width: 100%;
	height: 90%;
	object-fit: cover;
	/* 1. coin en haut à gauche */
	/* 2. coin en haut à droite */
	/* 3. coin en bas à droite  */
	/* 4. coin en bas à gauche  */
	border-radius: 20px 20px 0px 0px;
}

#conteneurhead
{
	display: flex;
	width: 100%;
	flex-direction: column;
}
#conteneurtext
{
	margin-bottom: 5px;
	margin-top: 30px;
}

#conteneurrecherche
{
	display: flex;
	width: 290px;
	height: 35px;
	margin-bottom: -5px;
	margin-top: 15px;
}
#recherche,#button
{
	border: none;
}
.button 
{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-radius: 0 10px 10px 0px;
	background-color: #0065FC;
	font-weight: bold;
	color: white;
	width: 40%;
}
#icone
{
	border-radius: 10px 0 0 10px;
	background-color: lightgrey;
	width: 10%;
	color: blue;
	display: flex;
	align-items: center;
	justify-content: center;
}

#conteneurfiltre a:hover
{
	background-color: #DEEBFF;
	border-radius: 20px;
	transform: translateY(-10px);
}
#hautdroite a:hover
{
	background-color: #DEEBFF;
}

#recherche
{
	width: 50%;
	border-bottom: 0.1px solid lightgrey;
	border-top: 0.1px solid lightgrey;
}

#trouve
{
	border-radius: 30px;
	border:1px;
}

.haut
{
	border-radius: 20px;
	border: 0.1px solid  lightgrey;
	height: 35px;
	width: 195px;
	display: flex;
	align-items: center;
}
.haut1
{
	border-radius: 20px;
	background-color: #DEEBFF;
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#conteneurfiltre
{
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin-bottom: 30px;
}

#logo1
{
	width: 100%
}
#log img
{
	height: 80px;
	width: 180px;
}
nav ul
{
	list-style-type: none;
	display: flex;
}
nav li
{
	margin-right: 20px;
}
nav a
{
	font-size: 1.4em;
	color: #0065FC
}
#activites
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
	height: 550px;
}


.conteneurdouble
{

	width: 250px;
	height: 90%;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: purple;
}



.conteneur_act_solo
{
	width: 290px;
	height: 90%;
	border-radius: 20px;
	box-shadow: 5px 5px 5px lightgrey;
	background-color: purple;
}


.cd_item
{
	height: 45%;
	border-radius: 20px;
	box-shadow: 5px 5px 5px lightgrey;
	background-color: orange;

}

.titre2
{
	flex: 0 0 100%;
}




















@media all and (min-width: 320px) and (max-width: 768px)
{
.header
{
	order: 1;
}
.intro
{
	order: 2;
}
.populaire
{
	order: 3;
	width: 100%;
}
#hebergements
{
	order: 4;
	flex:100%;
}
.activitesmarseille
{
	order: 5;
}
.footer
{
	order: 6;
}
.item2
{
	width: 100%;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
 }
#conteneurfiltre
{
	flex-direction: column;
}
#conteneurrecherche
{
	width: 100%;
}
ul
{
	flex-direction: column;
}

















}




